@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');


/* Body */

body {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  border: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  cursor: url(img/cat_paw_cursor.png), pointer;
  flex-direction: column;
  align-items: center;
  z-index: -2;
   }
  
  /* Header */

  header {
    position: relative;
    display: flex;
    width: 100%;
    height: 15.7vh;
    margin-top: 0%;
    font-weight: 800;
    font-family: 'Love Light', cursive;
    word-spacing: 1.3vw;
    text-decoration: none;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
  h1 {
    margin: 0;
    border: 0;
    height: 42%;
    margin-top: 0;
    font-size: 4vh;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #039af4);
    background-clip: 0;
    color: #1900ffad;
    z-index: 2;
    }

    .headers_image {
      display: block;
      position: relative;
      width: 69vh;
      min-width: 50vh;
      margin-top: -10px;
      z-index: 1;
  }

  /* Main */

  main {
    display: flex;
    top: 15.2vw;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #039af4);
    width: 100vw;
    height: 72vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: inset 0px 0px 12px #3a395c;
    border-top-left-radius: 4vh;
    border-top-right-radius: 4vh;
    border-bottom-left-radius: 4vh;
    border-bottom-right-radius: 4vh;
    flex-wrap: nowrap;
    align-content: center;
}

.main_section {
  margin-left: 15vw;
  position: relative;
  display: flex;
  background-color: rgba(255, 255, 255, 0.419);
  width: 68vw;
  height: 92%;
  align-items: baseline;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: row;
  border-radius: 3vh;
  border: solid;
  border-width: 1vh;
  border-color: rgba(0, 255, 255, 0.809);
  box-shadow: inset 0 0 1em rgb(0, 255, 208);
  box-shadow: 0 0 1em rgb(0, 255, 208);
}

.right_section {
  display: flex;
  height: 69vh;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}

     .right_section img {
      margin: 1vh;
      width: 20vh;
     }
  
/* Footer */

    footer {
      position: relative;
      display: flex;
      width: 40%;
      height: 15%;
      background: linear-gradient(90deg, rgb(3, 169, 244), rgb(244, 65, 165), rgb(255, 235, 59), rgb(3, 154, 244));
      box-shadow: rgb(58 57 92) 0px 0px 12px inset;
      border-bottom-left-radius: 6vh;
      border-bottom-right-radius: 6vh;
      z-index: -1;
      align-items: center;
      place-content: center space-around;
      flex-direction: row;
      align-content: center;
      justify-content: space-around;
       }

       footer nav {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        align-content: center;
        gap: 2.5vh;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
       }

        button {
          position: relative;
          width: 7vh;
          height: 7vh;
          border-radius: 50%;
          border: 0;
          padding: 0;
          flex-direction: row;
          align-content: center;
          flex-wrap: wrap;
           }

          #footer_button_images {
            width: 13vh;
           }

          #photos_button {
            display: flex;
            justify-content: center;
           }

          #videos_button {
            display: flex;
            justify-content: center;
           }

          #gifs_button {
             display: flex;
             justify-content: center;
             }

          #games_button {
             display: flex;
             justify-content: center;  
             }
 
              .footer_buttons::after {
                content: "";
                position: absolute;
                inset: -1vh;
                border-radius: 50%;
                box-shadow: inset 0px 0px 1em 0px #000000bd;
                overflow: hidden;
                align-items: center;
              }

              .footer_buttons:hover:after {
                content: "";
                box-shadow: inset 0px 0px 1em 1px #000000;
                transition: .1s;
              }

              .footer_buttons:focus:after {
                content: "";
                box-shadow: inset 0px 1px 1em 4px #000000;
              }

              .footer_buttons:active:after {
                content: "";
                box-shadow: inset 0px 1px 1em 5px #000000; 
                transition: .01s;
              }

 /* Key Frames */ 

    @keyframes animate
     {
         0% {transform: scale(0)}
        20% {transform: scale(125)}
        40% {transform: scale(150)}
        60% {transform: scale(150)}
        80% {transform: scale(125)}
       100% {transform: scale(1)}
       }


   