@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');


/* Body */

body {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  border: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  cursor: url(img/cat_paw_cursor.png), pointer;
  flex-direction: column;
  align-items: center;
}
  
  /* Header */

  header {
    position: relative;
    display: flex;
    width: 100%;
    height: 17%;
    margin-top: 0%;
    font-weight: 800;
    font-family: 'Love Light', cursive;
    word-spacing: 1.3vw;
    text-decoration: none;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

  h1 {
    margin: 0;
    border: 0;
    height: 42%;
    margin-top: 0;
    font-size: 4vh;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #039af4);
    background-clip: 0;
    color: #1900ffad;
    z-index: 2;
  }

  .headers_image {
    width: 66%;
    margin-top: -39px;
    z-index: 1;
}


  /* Main */

  main {
    display: flex;
    top: 15.2vw;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #039af4);
    width: 70%;
    height: 72vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: baseline;
    box-shadow: inset 0px 0px 12px #3a395c;
    border-top-left-radius: 4vh;
    border-top-right-radius: 4vh;
    border-bottom-left-radius: 4vh;
    border-bottom-right-radius: 4vh;
}

  main a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
  }

  .main_section {
    display: flex;
    background-color: rgba(255, 255, 255, 0.419);
    width: 95%;
    margin-top: 2.5%; 
    height: 92%;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 3vh;
    border: solid;
    border-width: .3px;
    border-color: rgba(0, 255, 255, 0.809);
    box-shadow: inset 0 0 1em rgb(0, 255, 208);
    box-shadow: 0 0 1em rgb(0, 255, 208);
  }
  
/* Footer */

    footer {
      position: relative;
      display: flex;
      width: 40%;
      height: 11.5%;
      background: linear-gradient(90deg, rgb(3, 169, 244), rgb(244, 65, 165), rgb(255, 235, 59), rgb(3, 154, 244));
      box-shadow: rgb(58 57 92) 0px 0px 12px inset;
      border-bottom-left-radius: 6vh;
      border-bottom-right-radius: 6vh;
      z-index: -1;
      align-items: center;
      place-content: center space-around;
      flex-direction: row;
      align-content: center;
      justify-content: space-around;
      }

    footer nav {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: row;
      column-gap: 7%;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-evenly;
      gap: 2%;
      align-items: center;
     }
     
     button {
      position: relative;
      width: 10vh;
      height: 9.9vh;
      border-radius: 50%;
      overflow: hidden;
      border: none;
     }

     #pets_button h2 {
      position: relative;
      display: flex;
      z-index: 1;
      justify-content: center;
      align-content: center;
      flex-wrap: nowrap;
      background: rgb(70, 98, 255);
      width: 100%;
      height: 84%;
      align-items: center;
      border-radius: 50%;
      top: -12px;
     }

     #videos_button h2 {
      position: relative;
      display: flex;
      z-index: 1;
      justify-content: center;
      align-content: center;
      flex-wrap: nowrap;
      background: rgb(255, 0, 0);
      width: 100%;
      height: 84%;
      align-items: center;
      border-radius: 50%;
      top: -12px;
     }

     #gifs_button h2 {
      position: relative;
      display: flex;
      z-index: 1;
      justify-content: center;
      align-content: center;
      flex-wrap: nowrap;
      background: rgb(72, 255, 0);
      width: 100%;
      height: 84%;
      align-items: center;
      border-radius: 50%;
      top: -12px;
     }

     #jogos_button h2 {
      position: relative;
      display: flex;
      z-index: 1;
      justify-content: center;
      align-content: center;
      flex-wrap: nowrap;
      background: rgb(255, 225, 0);
      width: 100%;
      height: 84%;
      align-items: center;
      border-radius: 50%;
      top: -12px;
     }

     .footer_buttons::before {
      content: "";
      position: absolute;
      left: -2px;
      top: -1px;
      width: 110%;
      height: 110%;
      background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #039af4);
      box-shadow: inset 1px -4px 4em 19px rgb(0 0 0 / 37%);
     }
       
     .footer_buttons::after {
      content: "";
      position: absolute;
      inset: .9vh;
      border-radius: 50%;
      box-shadow: inset 20px -19px 1.5em 2px rgb(0 0 0 / 47%);
      overflow: hidden;
      align-items: center;
     }

    
 /* Key Frames */ 

    @keyframes animate
     {
      0% 
      {
        transform: rotate(0deg);
        
      }
       
      100%
      {
        transform: rotate(360deg)
      }
    }


   