@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');


/* Body */

body {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border: 0px;
  margin: 0px;
  background-color: #000000;
  height: 100vh;
  cursor: url(img/cursor_blue.png), pointer;
  flex-direction: column;
  align-items: center;
  z-index: -2;
  background-image: url(img/defaul_background_image.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
   }

   audio {
    position: absolute;
    top: 2vh;
    right: 18vh;
    width: 27.5vh;
    height: 3.5vh;
    z-index: 6;
}

.dog_digging_gif {
  width: 6vh;
  position: absolute;
  left: 99.5vh;
  bottom: 37vh;
  z-index: 4;
  transform: rotate(360deg);
}

.jupiter_image {
  width: 14vh;
  position: absolute;
  right: 23vh;
  top: 7vh;
}

.foto_container {
  display: flex;
  z-index: 6;
  width: 11vh;
  height: 16vh;
  position: absolute;
  right: 0vh;
  bottom: 0;
  background: url("img/usha1_image.png") no-repeat;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.foto_container:hover {
 background: url("img/usha2_image.png") no-repeat;
 transition: .3s ease-in-out;
 size: 10vh;
}


  /* Header */

  header {
    position: relative;
    display: flex;
    width: 100vw;
    height: 15.8vh;
    margin-top: 0%;
    font-weight: 800;
    font-family: 'Love Light', cursive;
    word-spacing: 1.3vw;
    text-decoration: none;
    align-content: center;
    flex-direction: column;
    align-items: center;
     }

     .logo_image {
      z-index: 6;
      width: 25%;
      height: 5.5vh;
      position: absolute;
      top: 2vh;
      right: 59.5vh;
      background: url("img/logo_up_image.png") no-repeat;
      background-size: 40vh;
  }

  .logo_image:hover {
    background: url("img/logo_down_image.png") no-repeat;
    background-size: 40vh;
    cursor: none;
  }

  .logo_image:hover {
    background: url("img/logo_gif.gif") no-repeat;
    background-size: 40vh;
    cursor: none;
  }

  header div {
    width: 20vh;
  }

  .menu_image {
    width: 4vh;
    position: absolute;
    right: 54.3vh;
    top: 1vh;
    z-index: 5;
}

  .menu_image:hover {
    animation: wave 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    cursor: none;
    
     }

      @keyframes wave {
        10%, 90% {
          transform: rotate(0deg);
        }
        
        20%, 80% {
          transform: rotate(-10deg);
        }

        30%, 50%, 70% {
          transform: rotate(-15deg);
        }

        40%, 60% {
          transform: rotate(0deg);
        }
      }

.soung_image {
  width: 5vh;
  position: absolute;
  right: 11vh;
  top: 2vh;
  cursor: pointer;
}

.soung_image:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: none;
}

.theme_image {
  width: 5vh;
  position: absolute;
  right: 3vh;
  top: 2vh;
  cursor: none;
}

.theme_image:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.headers_image {
  width: 69vh;
  margin-top: 4.2vh;
  z-index: 3;
}

  @keyframes shake {
     10%, 90% {
      transform: translate3d(-1px, 0, 0);
     }
    
     20%, 80% {
      transform: translate3d(2px, 0, 0);
     }

     30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
     }

     40%, 60% {
      transform: translate3d(4px, 0, 0);
     }
  }


  /* Main */

  main {
    display: inline-flex;
    width: 100vw;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    border-radius: 4vh;
    z-index: 2;
  }
  

  /* Main Nav */

  .main_nav_container {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 6vh;
    background: linear-gradient(90deg, #03a9f47d, #f441a582, #ffeb3b80, #039af47a);
    box-shadow: inset 0px 0px 12px #3a395c;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.main_nav {
  background-color: rgba(255, 255, 255, 0.419);
  width: 100%;
  height: 88%;
  margin: 4vh;
  border-radius: 3vh;
  box-shadow: 0 0 1em rgb(0, 255, 208);
}


/* Left Nav */

.left_nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 10%;
  border-top-left-radius: 4vh;
  border-bottom-left-radius: 4vh;
  padding: 1vh;
  justify-content: space-evenly;
  background: linear-gradient(0deg,#03a8f480, #03a9f4);
  box-shadow: inset 0px 0px 12px #3a395c;
}

.left_nav img {
  margin: 2vh;
  width: 11.5vh;
  border: 0;
  z-index: 51;
}

.left_nav button {
  position: relative;
  width: 8.5vh;
  height: 7.2vh;
  border: 0;
  padding: 0;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  display: flex;
  border-radius: 50%;
  align-items: center;
  background: #00000000;
}

.left_nav_buttons::before {
  content: "";
  opacity: 0;
  position: absolute;
  width: 10vh;
  margin-left: 0vh;
  height: 10vh;
  top: -0.9vh;
  left: -.7vh;
  border-radius: 50%;
  background: linear-gradient(0deg, #039af4, #039af4,  #039af400, #ffffff95, #ffffff);
}

  .left_nav_buttons:focus::before {
    content: "";
    opacity: 1;
    animation-name: spin;
    animation-duration: .5s;
    animation-iteration-count: 1;
    }

 @keyframes spin {
    from {
        transform:rotate(210deg);
    }
    to {
        transform:rotate(360deg);
    }
}
 
.left_nav_buttons::after {
  display: flex;
  content: "";
  position: absolute;
  margin-top: 1.2vh;
  height: 9.4vh;
  width: 9.4vh;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  box-shadow: inset 0px 0px 1em 3px #ffffff;
}

.left_nav_buttons:hover::after {
transform: scale(1.08);
}


#saude_image:hover {
  content: "";
  transform: scale(1.08);
}

#saude_image:focus:hover {
  content: "";
  transform: scale(1.08);
}

#artigos_image:hover {
  content: "";
  transform: scale(1.08);
}

#artigos_image:active {
  content: "";
}

#links_image:hover {
  content: "";
  transform: scale(1.08);
}

#links_image:active {
  content: "";
}

 /* Right Nav */

.right_nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 10%;
  border-top-right-radius: 4vh;
  border-bottom-right-radius: 4vh;
  padding: 1vh;
  justify-content: space-evenly;
  background: linear-gradient(0deg,#03a8f480, #03a9f4);
  box-shadow: inset 0px 0px 12px #3a395c;
}

.right_nav img {
  margin: 2vh;
  width: 11.5vh;
  border: 0;
  z-index: 51;
}

.right_nav button {
  position: relative;
  width: 8.5vh;
  height: 7.2vh;
  border: 0;
  padding: 0;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  display: flex;
  border-radius: 50%;
  align-items: center;
  background: #00000000;
}

.right_nav_buttons::before {
  content: "";
  opacity: 0;
  position: absolute;
  width: 10vh;
  margin-left: 0vh;
  height: 10vh;
  top: -0.9vh;
  left: -.7vh;
  border-radius: 50%;
  background: linear-gradient(0deg, #039af4, #039af4,  #039af400, #ffffff95, #ffffff);
}

  .right_nav_buttons:focus::before {
    content: "";
    opacity: 1;
    animation-name: spin;
    animation-duration: .5s;
    animation-iteration-count: 1;
    }

 @keyframes spin {
    from {
        transform:rotate(210deg);
    }
    to {
        transform:rotate(360deg);
    }
}
 
.right_nav_buttons::after {
  display: flex;
  content: "";
  position: absolute;
  margin-top: 1.2vh;
  height: 9.4vh;
  width: 9.4vh;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  box-shadow: inset 0px 0px 1em 3px #ffffff;
}

.right_nav_buttons:hover::after {
transform: scale(1.08);
}


#adote_image:hover {
  content: "";
  transform: scale(1.08);
}

#adote_image:focus:hover {
  content: "";
  transform: scale(1.08);
}

#doe_image:hover {
  content: "";
  transform: scale(1.08);
}

#doe_image:active {
  content: "";
}

#radar_image:hover {
  content: "";
  transform: scale(1.08);
}

#radar_image:active {
  content: "";
}

  
/* Footer */

    footer {
      position: relative;
      display: flex;
      width: 40%;
      height: 21%;
      background: linear-gradient(90deg, rgba(3, 168, 244, rgba(244, 65, 166, 0.494)65rgba(255, 235, 59, 0.515)235, 59), rgb(3, 154, 244));
      box-shadow: rgb(58 57 92) 0px 0px 12px inset;
      border-bottom-left-radius: 6vh;
      border-bottom-right-radius: 6vh;
      z-index: -1;
      align-items: center;
      place-content: center space-around;
      flex-direction: row;
      align-content: center;
      justify-content: space-around;
       }

       footer nav {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        align-content: center;
        gap: 2.5vh;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
         }

        footer nav button {
          position: relative;
          width: 7vh;
          height: 7vh;
          border-radius: 50%;
          border: 0;
          padding: 0;
          flex-direction: row;
          align-content: center;
          flex-wrap: wrap;
           }

          #footer_button_images {
            width: 13vh;
           }

          #photos_button {
            display: flex;
            justify-content: center;
           }

          #videos_button {
            display: flex;
            justify-content: center;
           }

          #gifs_button {
             display: flex;
             justify-content: center;
             }

          #games_button {
             display: flex;
             justify-content: center;  
             }
 
              .footer_buttons::after {
                content: "";
                position: absolute;
                inset: -1vh;
                border-radius: 50%;
                box-shadow: inset 0px 0px 1em 0px #000000bd;
                overflow: hidden;
                align-items: center;
              }

              .footer_buttons:hover:after {
                content: "";
                box-shadow: inset 0px 0px 1em 1px #000000;
                transition: .1s;
              }

              .footer_buttons:focus:after {
                content: "";
                box-shadow: inset 0px 1px 1em 4px #000000;
              }

              .footer_buttons:active:after {
                content: "";
                box-shadow: inset 0px 1px 1em 5px #000000; 
                transition: .01s;
              }
   